@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('../../fonts/HelveticaNeueCyr-Medium.otf') format('opentype');
}

.cardCategoryName {
  font-family: 'HelveticaNeueCyr-Medium';
  font-size: 16px;
  color: #282828;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.setLevel {
  cursor: pointer;
}

.cardCategoryCircle {
  margin-right: 10px;
}

.cardCategoryStart {
  margin-left: auto;
  cursor: pointer;
  color: black;
}

.cardCategoryStart_inactive {
  margin-left: auto;
  cursor: default;
}

.challengeHeader {
  font-family: 'HelveticaNeueCyr-Medium';
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.02em;
  text-align: center;
  color: black;
  margin-bottom: 10px;
}

.taskHeader {
  font-family: 'HelveticaNeueCyr-Medium';
  font-size: 12px;
  line-height: 12px;
  visibility: hidden;
  margin-bottom: 10px;
}

.cardTitle {
  font-family: 'HelveticaNeueCyr-Medium';
  font-size: 16px;
  line-height: 1.37;
  color: black;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

.cardTitle_challenge {
    color: pink;
}

.cardDate {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'HelveticaNeueCyr-Medium';
    font-size: 14px;
    color: black;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
}


