.landingPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../../../assets/images/landing_page_bg_mobile.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

@media (min-width: 768px) {
  .landingPage {
    background-image: url("../../../assets/images/landing_page_bg_tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: left;
  }
}

@media (min-width: 1280px) {
  .landingPage {
    align-items: center;
    background-image: url("../../../assets/images/landing_page_bg.png");
    background-repeat: no-repeat;
  }
}